.aboutpage {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
}

.aboutpage h1, .aboutpage p {
    position: relative;
    z-index: 2;
}

.aboutpage p {
    font-size: 1.2rem;
    color: #555;
    margin-top: 20px;
}
