.homepage {
  position: relative;
  z-index: 1;
  background-color: #a3703d;
  padding: 50px;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
}

.homepage h1, .homepage p {
  position: relative;
  z-index: 2;
}

.homepage h2 {
  position: relative;
  z-index: 2;
  color: #e5cebf;
}

.profile-image {
  margin: 20px auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #ddd;
}
